BASE_URL="http://localhost:3000"

API_URL=""

NUXT_HOST="L'hôte de nuxt. !Important pour les environnements alwaysdata!"
NUXT_PORT="Le port de nuxt. !Important pour les environnements alwaysdata!"

BASIC_ENABLED="Boolean"
BASIC_USER=""
BASIC_PWD=""

GTM_ENABLE="Boolean"
GTM_DEBUG="Boolean"

RECAPTCHA_SITE_KEY="La clé recatpcha"

