//registry.npmjs.org/:_authToken=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

always-auth=true
@gsap:registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=19b07c09-abdc-4ae1-bcf6-6a6a44680632
