@mixin font-face($name, $path, $weight: null, $style: null, $type: 'typo') {
    @if ($type == 'no_svg') {
        @font-face {
            font-family: $name;
            font-style: $style;
            font-weight: $weight;
            font-display: swap;
            src: url($path + '.eot') format('embedded-opentype'),
                url($path + '.woff2') format('woff2'),
                url($path + '.woff') format('woff'),
                url($path + '.ttf') format('truetype');
        }
    } @else if ($type == 'typo') {
        @font-face {
            font-family: $name;
            font-style: $style;
            font-weight: $weight;
            font-display: swap;
            src: url($path + '.eot') format('embedded-opentype'),
                url($path + '.woff2') format('woff2'),
                url($path + '.woff') format('woff'),
                url($path + '.ttf') format('truetype'),
                url($path + '.svg') format('svg');
        }
    } @else if ($type == 'no_woff2') {
        @font-face {
            font-family: $name;
            font-style: $style;
            font-weight: $weight;
            font-display: swap;
            src: url($path + '.eot') format('embedded-opentype'),
                url($path + '.woff') format('woff'),
                url($path + '.ttf') format('truetype'),
                url($path + '.svg') format('svg');
        }
    } @else if ($type == 'only_woff') {
        @font-face {
            font-family: $name;
            font-style: $style;
            font-weight: $weight;
            font-display: swap;
            src: url($path + '.woff') format('woff');
        }
    }
}

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}
