:root {
    --fontPrimary: '', sans-serif;
    --fontSecondary: '', sans-serif;
    --iconsFont: 'Icons';
    --baseFont: 20px;
    // Color
    // White
    --white-100: #ffffff;
    // White - RGB
    --white-100-rgb: #{hexToRGB(#ffffff)};
    // Black
    --black-900: #000000;
    --black-900-rgb: #{hexToRGB(#000000)};
    // Blue
    --blue-900: darkblue;

    // Bouton
    --buttonPrimary: var(--blue-900);
    --buttonPrimaryColor : var(--white-100);

    // Transition
    --cubicBezier: cubic-bezier(0.65, 0.005, 0.35, 0.995);
}
